{% extends 'admin_base.html' %}

{% block title %}
    用户浏览列表
{% endblock %}

{% block container %}

    <div class="pagetitle">
        <h1>用户浏览列表</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">管理员系统</li>
                <li class="breadcrumb-item">用户浏览管理</li>
                <li class="breadcrumb-item"><a class="active" href="{% url 'adminUserSearchRecordsList' %}">用户浏览列表</a></li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">用户浏览列表</h5>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="search-bar">
                                    <form id="searchForm" class="search-form d-flex align-items-center" method="GET">
                                        <input style="height: 30px;" type="text" name="search_value" id="searchInput" value="{{ context.search_value }}" placeholder="搜索...">
                                        <button style="height: 30px;" type="submit" title="Search"><i class="bi bi-search"></i></button>
                                    </form>
                                    <div id="search-results"></div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 10%;font-size: 20px">#</th>
                                <th scope="col" style="width: 30%;font-size: 20px">用户名</th>
                                <th scope="col" style="width: 30%;font-size: 20px">浏览景点</th>
                                <th scope="col" style="width: 30%;font-size: 20px" class="desc">浏览时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in context.query_set %}
                                <tr>
                                    <td style="font-size: 18px;">{{ item.browse.id }}</td>
                                    <td style="font-size: 18px;">
                                        {{ item.user.username }}
                                    </td>
                                    <td style="font-size: 18px;">
                                        <a href="{% url 'adminSightDetailInfo' item.sight.sight_id %}" target="_blank" style="font-size: 18px;">
                                            {{ item.sight.sight_name }}
                                        </a>
                                    </td>
                                    <td style="font-size: 18px;">{{ item.browse.browse_time | date:"Y-m-d H:i:s" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination" style="display: inline-block;margin: 20px; width: 800px;">
                        {{ context.page_string }}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.getElementById('searchForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var searchInput = document.getElementById('searchInput');
            var searchValue = searchInput.value.trim();
            if (searchValue !== '') {
                // 若输入了搜索值，则重定向到adminSearchUser
                window.location.href = `{% url 'adminSearchUserBrowseByUsername' 'placeholder' %}`.replace('placeholder', encodeURIComponent(searchValue));
            }else{
                window.location.href = `{% url 'adminUserBrowseInfoList' %}`;
            }
        });
    </script>
{% endblock %}