{% extends 'base.html' %}
{% block title %}
    修改用户密码
{% endblock %}
{% block container %}
    <div class="pagetitle" style="display: flex; align-items: center">
        <div style="margin-right: auto">
            <h1>修改密码</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">主页 </a></li>
                    <li class="breadcrumb-item active">修改密码</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">修改密码</h5>
                        <div class="activity">
                            <form method="POST" action="{% url 'updatePassword' %}" class="row g-3 needs-validation" novalidate>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">用户名</label>
                                    <div class="input-group has-validation">
                                        <input type="text" name="username" disabled value="{{ userInfo.username }}" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">原始密码</label>
                                    <div class="input-group has-validation">
                                        <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="请输入原始密码" required>
                                        <div class="invalid-feedback">请输入原始密码!</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">新密码</label>
                                    <div class="input-group has-validation">
                                        <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="请输入新密码" required>
                                        <div class="invalid-feedback">请输入新密码!</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">确认密码</label>
                                    <div class="input-group has-validation">
                                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="请输入确认密码" required>
                                        <div id="confirmPasswordFeedback" class="invalid-feedback">请输入确认密码!</div>
                                    </div>
                                </div>
                                <div class="col-12" id="submitDiv">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                    <a href="{% url 'updatePassword' %}" class="btn btn-success">刷新</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block echarts %}
    <script>
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                event.preventDefault();  // 阻止表单默认提交行为

                var oldPassword = $('#oldPassword').val();
                var newPassword = $('#newPassword').val();
                var confirmPassword = $('#confirmPassword').val();
                if (oldPassword === '' || newPassword === '' || confirmPassword === '') {
                    // 未填写则不发送ajax请求
                    return;
                }
                $.ajax({
                    url: '{% url 'updatePassword' %}',
                    type: 'POST',
                    data: {
                        'oldPassword': oldPassword,
                        'newPassword': newPassword,
                        'confirmPassword': confirmPassword
                    },
                    success: function(response) {
                        if (response.error) {
                            showErrorAlert(response.error);
                        } else {
                            window.location.href = '{% url 'updatePassword' %}';
                        }
                    },
                    error: function(xhr, status, error) {
                        // 处理请求错误
                        console.error("An error occurred: " + status + "\nError: " + error);
                    }
                });
            });

            function showErrorAlert(message) {
                $('#alert-danger').remove();
                // 创建提示框并显示错误信息
                var alertHtml = `
                    <div class="row mb-3" id="alert-danger">
                        <div class="alert alert-danger alert-dismissible fade show form-control" role="alert">
                            <i class="bi bi-exclamation-octagon me-1"></i>
                            ${message}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                `;
                $('#submitDiv').before(alertHtml);
            }
        });
    </script>
{% endblock %}
