{% extends 'base.html' %}

{% block title %}
    我的评价
{% endblock %}

{% block container %}
    <div class="pagetitle" style="display: flex; align-items: center">
        <div style="margin-right: auto">
            <h1>评价列表</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">主页 </a></li>
                    <li class="breadcrumb-item">我的信息</li>
                    <li class="breadcrumb-item active">评价列表</li>
                </ol>
            </nav>
        </div>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">评价列表</h5>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="width: 5%" scope="col">#</th>
                                <th style="width: 10%" scope="col">景点名称</th>
                                <th style="width: 12%" scope="col">地址</th>
                                <th style="width: 20%" scope="col">封面</th>
                                <th style="width: 12%" scope="col">我的评分</th>
                                <th style="width: 22%" scope="col">评论内容</th>
                                <th style="width: 8%" scope="col">日期</th>
                                <th style="width: 10%;text-align: center" scope="col">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment_data in context.query_set %}
                                <tr>
                                    <td>{{ comment_data.comment.id }}</td>
                                    <td>
                                        <a href="{% url 'sightDetailInfo' comment_data.sight.sight_id %}" target="_blank" style="font-size: 18px;">{{ comment_data.sight.sight_name }}</a>
                                    </td>
                                    <td>{{ comment_data.sight.address }}</td>
                                    <td>
                                        <a href="{% url 'sightDetailInfo' comment_data.sight.sight_id %}" target="_blank">
                                            <img src="{{ comment_data.sight.cover }}" style="width: 100%" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 star-container">
                                            {% for i in "12345" %}
                                                <div class="star {% if i|add:0 <= comment_data.comment.score %}checked{% endif %}">★</div>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td>{{ comment_data.comment.content }}</td>
                                    <td>{{ comment_data.comment.date | date:"Y-m-d H:i:s" }}</td>
                                    <td style="text-align: center;width: 70px">
                                        <a href="{% url 'deleteComment' comment_data.comment.id %}" onclick="return confirm('您确定要删除这条评论吗？');" class="btn btn-primary waves-effect waves-light">删除评论</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination" style="display: inline-block;margin: 20px; width: 800px;">
                        {{ context.page_string }}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}